BIGCOMMERCE_API_TOKEN=
BIGCOMMERCE_STORE_HASH=

CONTENTSTACK_API_KEY=
CONTENTSTACK_DELIVERY_TOKEN=

UNIFORM_API_KEY=
UNIFORM_PROJECT_ID=
UNIFORM_CLI_BASE_URL=https://canary.uniform.app
UNIFORM_API_HOST=https://canary.uniform.app

THEME_FONT_FAMILY_NAME="Poppins"
THEME_FONT_FAMILY_SOURCE="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
THEME_COLOR_LIGHT="#ffffff"
THEME_COLOR_DARK="#333333"
THEME_COLOR_PRIMARY="#693A25"
THEME_COLOR_SECONDARY="#AE9A91"
THEME_COLOR_TERTIARY="#EEE0DB"
